<div class="container my-5">
    {{#if user}}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Podcast Name" aria-label="Podcast Name" id="podcastName">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="addPodcast">Add</button>
                </div>
            </div>          
        </div>
    </div>
    {{/if}}  
    <div class="row justify-content-around">
        {{#each episodes}}
        <div class="col-lg-4 col-md-9 col-xs-12 all-cards">
            <div class="card">
                {{#if imageUrl}}
                <img src="{{imageUrl}}" class="card-img-top" alt="itunes cover img">
                {{else}}
                {{#if Podcast.imageUrl}}
                <img src="{{Podcast.imageUrl}}" class="card-img-top" alt="iTunes Cover Image">
                {{else}}
                <div class="image-container">
                    <img src="/assets/images/listen-hear.png" class="card-img-top" alt="Listen, Hear Logo">
                </div>
                {{/if}}
                {{/if}}
                <div class="card-body">
                    <h5>{{Podcast.name}}</h5>
                    <h6 class="card-title">{{name}}</h6>
                    <p class="card-text c-description">{{{description}}}</p>
                    <div class="embed-responsive">
                        <audio controls class="mini-player">
                            <source src="{{audioUrl}}" type="audio/mp3">
                        </audio>
                    </div>
                    <a href="{{link}}" target="_blank" class="btn btn-secondary">{{publishDate}}</a>
                </div>
            </div>
        </div>
        {{/each}} 
    </div>
</div>
