<div class="container my-5">
    <div class="row">
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Podcast Name" aria-label="Podcast Name" id="podcastName">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="addPodcast">Add</button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        {{#each episodes}}
        <div class="col-3" style="padding:1vw">
            <div class="card">
                {{#if imageUrl}}
                <img src="{{imageUrl}}" class="card-img-top" alt="itunes cover img">
                {{else}}
                {{#if Podcast.imageUrl}}
                <img src="{{Podcast.imageUrl}}" class="card-img-top" alt="iTunes Cover Image">
                {{else}}
                <img src="/assets/images/listen-hear.png" class="card-img-top" alt="Listen, Hear Logo">
                {{/if}}
                {{/if}}
                <div class="card-body" style="height: 40vh">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text" style="max-height: 50%;overflow:scroll">{{{description}}}</p>
                    <div class="col-sm-4 col-sm-offset-4 embed-responsive">
                        <audio controls>
                            <source src="{{audioUrl}}" type="audio/mp3">
                        </audio>
                    </div>
                    <a href="{{link}}" target="_blank" class="btn btn-primary" style="position: absolute;bottom:3%">{{publishDate}}</a>
                </div>
            </div>
        </div>
        {{/each}} 
    </div>
</div>
