<div class="container my-5">
    {{#if user}}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control border-dark" placeholder="Podcast Name" aria-label="Podcast Name" id="podcastName">
                <div class="input-group-append">
                    <button class="btn btn-success border-dark" type="button" id="addPodcast">Add</button>
                </div>
            </div>     
        </div>
        <div class="col-md-2 offset-md-1 ml-2">
            <a class="btn btn-info border-dark subscriptions" type="button" id="{{id}}" href="/api/subscriptions/{{user.dataValues.id}}/{{user.dataValues.username}}">Subscriptions</a>
        </div>
    </div>
    {{/if}}
    <div class="row">
        {{#each podcasts}}
        <div class="col-3" style="padding:1vw">
            <div class="card border-dark h-100">
                {{#if imageUrl}}
                <img src="{{imageUrl}}" class="card-img-top" alt="itunes cover img">
                {{else if Podcast.imageUrl}}
                <img src="{{Podcast.imageUrl}}" class="card-img-top" alt="iTunes Cover Image">
                {{else}}
                <img src="/assets/images/listen-hear.png" class="card-img-top" alt="Listen, Hear Logo">
                {{/if}}
                <div class="card-body overflow-auto text-dark" style="height: 25vh">
                    <h6 class="card-title">{{name}}</h6>
                    <p class="card-text">{{{description}}}</p>
                </div>
                {{#if ../user}}
                    {{#unless subscriptions}}
                        <div class="card-footer border-dark text-center" data-podcast-id="{{id}}">
                            <button id="{{id}}" class="btn btn-sm btn-outline-dark subscribe" data-user-id="{{../user.dataValues.id}}">Subscribe</button>
                        </div>
                    {{/unless}}
                {{else}}
                <div class="card-footer border-dark text-center">
                    <a id="{{id}}" class="btn btn-outline-dark listen" type="button" href="/api/podcast/{{id}}/episodes">Listen</a>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}} 
    </div>
</div>
